@import url('https://fonts.googleapis.com/css2?family=Jua&family=Telex&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Telex;
  /* outline: 1px groove limegreen !important; */
}

body {
  background-color: #2d394b;
  display: flex;
  align-items: center;
  padding: 0 auto;
  margin: 0 auto;
}

/* Box Form */
.form--contact {
  background-color: #fff;
  height: 30%;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  }

h2 {
  text-align: center;
  background-color: green;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
form {
  width: 90%;
  height: 50%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left: 0;;
}

textarea {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border-color: #2d394b;
}

button {
  margin: 10px;
  text-align: center;
  background-color: green;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border-style: none;
}

input {
  padding: 10px;
  margin: 10px;
}



